<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
   <title>SVNStat Report</title>
   <link rel="stylesheet" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" type="text/css">
<style type="text/css">
#title {
	background-color: #2e3131;
	color: #888;
	height: 176px;
	position: relative;
}

#contact {
	height: 42px;
	line-height: 42px;
	background-color: #222525;
	text-align: right;
	padding-right: 15px;
}

#contact a:link, #contact a:visited {
	color: #636363;
	display: inline-block;
	font-family, Helvetica, Arial, sans-serif;
	font-size: 10px;
	height: 42px;
	letter-spacing: 0;
	text-decoration: none;
}

#contact a:hover { color: #ccc;}

#hd h1 {
	bottom: 20px;
	left: 20px;
	position: absolute;
	color: white;
	font-family: "Helvetica Neue Bold", Helvetica, Arial, sans-serif;
	font-size: 30px;
	letter-spacing: 0;
	line-height: 100%;
}

#bd h1 {
	color: #000;
	font: 36px/36px Georgia, "Times New Roman", Times, serif;
	letter-spacing: 3px;
	text-transformation: uppercase;
	margin: 5px 10px 12px
}

#bd a, #ft a:link, #ft a:visited {
	color: #cc1c04;
	text-decoration: none;
}

#bd {
	font: 15px/23px "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2",Georgia,"Times New Roman",Times,serif;
}

ul {
	margin-left: 2.5em;
}

ul li {
	list-style-type: circle;
}

#ft {
	background-color: #d6d4cf;
	font: 13px/20px "ff-meta-serif-web-pro-1","ff-meta-serif-web-pro-2",Georgia,"Times New Roman",Times,serif;
	padding-top: 20px;
}

#ft p {
	padding-left: 15px;
	height: 50px;
}
</style>
</head>
<body>
<div id="doc" class="yui-t7">
   	<div id="hd" role="banner">
		<div id="contact"><a href="http://www.scholarslab.org">scholars lab</a></div>
		<div id="title"><h1>SVNStat Reports</h1></div>
	</div>
   <div id="bd" role="main">
	<div class="yui-g">
		<h1>Projects</h1>
		<ul>
			<% projects.each do |p, r| %>
			<li><a href="<%= p %>"><%= p %></a></li>
		    <% end %>
		</ul>
	</div>
	</div>
   <div id="ft" role="contentinfo"><p>Generated using <a href="http://github.com/waynegraham/svnstat-wrapper">svnstat-wrapper</a> (<%= timestamp %>)</p></div>
</div>
</body>
</html>