##
# User Details
# user.[svnUserName].replacedBy=[new CVS user name] <-- user name that replaces the user (merge!)
#
# user.[svnUserName].realName=[user real name]
# user.[svnUserName].url=[user homepage full url]
# user.[svnUserName].image=[url to user picture]
# user.[svnUserName].email=[user email]
# user.[svnUserName].twitterUsername=[Twitter userName]
# user.[svnUserName].twitterUserId=[user twitter id, an int!] <-- This is more difficult to find, see the Twitter API section
# user.[svnUserName].twitterIncludeHtml=true/false < -- Typically you'd chose html OR flash
# user.[svnUserName].twitterIncludeFlash=true/false

# Example
user.wsg4w.realName=Wayne Graham
user.wsg4w.url=http://www.scholarslab.org
user.wsg4w.image=http://en.gravatar.com/userimage/172822/aba4b0d0fd4be5639ec8c54ca4a1fd2a.png
user.wsg4w.email=
user.wsg4w.twitterUsername=wayne_graham
user.wsg4w.twitterUserId=16896046
user.wsg4w.twitterIncludeHtml=true
user.wsg4w.twitterIncludeFlash=true

# Example
chart.backgroundColor=#FFFFEE
chart.plotColor=#EFEFEF
chart.lineStroke=1.5
chart.width=952
chart.height=596
chart.copyright=(c)StatCVS, 2009+
chart.copyrightTextSize=10
#
chart.activity.height=19

# background image
chart.chartBackgroundImage.url=http://www.scholarslab.org/wp-content/themes/oulipo2/images/slab.png
chart.chartBackgroundImage.transparency=0.40

# background plot
#chart.loc.url=file:///C:/project/statcvs/site/images/cervin_zoom.jpg
#chart.loc_small.plotImage.url=http://www.appendium.com/openimages/appendium_logo.jpg


##
# CLOUD from Words in Commit comments
#
#cloud.minFrequency=[Min amount of times a word must appear]
#cloud.maxWordNumberInCloud=[Maximum number of words in the cloud, defaulted to 100]
#cloud.maxWordNumberInTable=[Maximum number of words in the table, defaulted to 50]
#cloud.minLengthForWord=[Min number of characters for a word, defaulted to 4]
#cloud.exclusionRegExp=[Regular expression to exclude some words, released with an English version]
##
cloud.minFrequency=5
cloud.maxWordNumberInCloud=100
cloud.minLengthForWord=4
cloud.maxWordNumberInTable=50
cloud.exclusionRegExp=\\d+|an|the|me|my|we|you|he|she|it|are|is|am|will|shall|should|would|had|have|has|was|were|be|been|this|that|there

